<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>{{title_text}}</title>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="21903024464-7r8m8b4659h2ejcj523aqg1iog04sajc.apps.googleusercontent.com">
</head>

<body>